<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title>
		</title>
		<meta http-equiv='Content-Type' content='text/html;charset=UTF-8'>
		<link rel='stylesheet' href='../stylesheets/lights.css'>
	</head>
	<body>
			<div class="scene" id="scene1">
				
				<div class="MainImage"></div>
				
			</div>
		<script src="../scripts/jquery-3.1.1.min.js"></script>
		<script src="../scripts/lights.js"></script>
		<script>
		
		var f2 = new Lights("#scene1");
		</script>
	</body>
</html>